RANDFILE               = $ENV::HOME/.rnd

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
C            = US
ST           = NC
L            = Charlotte
O            = Test Corp
OU           = servers
CN           = Test Server
emailAddress = mail@test.com
